<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Test</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <a class="brand" href="/">Foodie</a>
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>