* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    height: 48px;
    width: 100%;

    display: flex;
    align-items:center;
    justify-content:space-between;

    background-color:#fff;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    padding: 2rem;
    position: fixed;
    /* position: sticky; */
    /* top: 0; */
    z-index: 100;
}

header .brand {
    font-weight: bold;
    font-size: 1.5rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.restaurants {
    display:flex;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
    margin: 0 -12px;
}

.restaurants-item {
    padding-right: 12px;
    padding-bottom: 36px;
    padding-left: 12px;
    width: 33%;
    position: relative;
}

.restaurants-item-name {
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.restaurants-item-type {
    color: #767676;
}

.restaurants-item-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}